body {
}

.title
{
    font-family:黑体;
    font-size:x-large;
    text-align:center;
    line-height:40px; 
}

.identifier
{
    font-family:仿宋_GB2312;
    font-size:12.0pt;
    text-align:right;
    font-weight:bold;
}

.text_font
{
    font-size:15.0pt;
    font-family:仿宋_GB2312;
    
}

.underline
{
    background-color:#EDF5FF;
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
    border-bottom-color:Black;
    
}

.whitespace
{
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
    border-bottom-color:White;
    }

.tableborder
{
    border-collapse: collapse;
    border: 1px black solid;
}

.tdborder
{
   border: 1px black solid; 
    }

.noborder
{
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
    border-bottom-color:white;
        
}

.right_align
{
    text-align:right;
}

.yearStyle
{
    background-color:#EDF5FF;
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
    border-bottom-color:Black;
    width:100px; 
}

.month_date_Style
{
    background-color:#EDF5FF;
    border-left-width:0px;
    border-right-width:0px;
    border-top-width:0px;
    border-bottom-width:1px;
    border-bottom-color:Black;
    width:32px;    
}
