.wrap{
	overflow: hidden;
	text-align: center;
}

#slider{
	text-align: center;
	width: 1000px;
    margin: 2px auto;
}
#slider img{
	height:100%;
	width:100%;
}
.wrap ul{
	position: absolute;  
}
.wrap ul li{
	float:left;
	margin:0 10px;
}

#prev,#next{
	position: absolute;
    top: 200px;  
}
#prev{
	left: 200px;
}
#next{
    right: 200px;
}

.li_img{
	opacity:0.5;
	filter:alpha(opacity=50);
	/*background-color: #fff;*/
	width:30px;
}

[class*=' imghvr-'] figcaption, [class^=imghvr-] figcaption{
	background: transparent;
	background-color: rgba(85,179,231,0.5);
	padding: 10px;
	text-align: center;
	
} 
[class*=' imghvr-shutter-in-']:after, [class*=' imghvr-shutter-in-']:before, [class^=imghvr-shutter-in-]:after, [class^=imghvr-shutter-in-]:before{
	background: transparent;
	background-color: rgba(85,179,231,0.5);
}

figcaption b{
	position: relative;
	top: 20px;    
}




.product-box{
	flex-flow:row wrap;
	align-items:flex-start;
}
.li_new a{
	float:left;
}
.li_p{
	width:170px;
	margin:18px 0;
	float:left;
}
.li_three{
	margin-left:5px;
}

@media (min-width:1200px){/*大屏*/
	.wrap {
		height: 350px;
	}
	.list-inline{
		margin:127px 0;
	}
	.list-inline>li {
		display: inline-block;
		padding:0 1rem;
	}
.wrap ul{
	position: absolute;  
	top:365px;
	right:500px;
}
.li_new img {
	width: 120px;
}
	.li_new a{
		display: none;
	}
}

@media (min-width: 768px) and (max-width:1200px) {/*桌面*/
	#slider{
		width: 1000px;
	}
	.wrap{
		height:290px;
	}
	.wrap ul{
		top: 310px;
	    right: 18rem;
	}
	.list-inline>li {
		display: inline-block;
		/* padding-left: 4rem;
		padding-right: 4rem; */
	}
	.li_new img {
		width: 100px;
	}
	.li_new a{
		display: none;
	}
}


@media (max-width: 767px) {	/*手机*/
	#slider{
		width: 100%;
		height:100%;
	}
	.wrap{
		height:240px;
	}
	.wrap ul{
		top:260px;
	    right: 10rem;
	}
	.list-inline{
		text-align: center;
	}
	.list-inline>li {
		display: inline-block;
		padding-left: 0rem;
		padding-right: 0rem;
	}
	.li_new img {
	width: 100px;
	}
	.li_new a{
		display: block;
	}
	[class*=' imghvr-'], [class^=imghvr-],.li_p{
		display:none;
	}
}